<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body style="padding-top: 60px;">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/"> <img src="/images/logo.png" width="30" height="30" alt="" class="pr-2">
            E-commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <form action="/search" method="GET" class="form-inline col-md-8">
                <input class="form-control mr-sm-4 " type="text" placeholder="Search" name="search"
                    aria-placeholder="Search" style="width: auto; max-width: 80%;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <% if(!currentUser){ %>
                <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active disabled' : '' %>">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li
                    class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active disabled' : '' %> ">
                    <a class="nav-link" href="/register">Sign UP</a>
                </li>
                <li
                    class="nav-item <%= typeof page !== 'undefined' && page === 'seller_register' ? 'active disabled' : '' %> ">
                    <a class="nav-link" href="/seller/register">Seller Register</a>
                </li>
                <% } else { %>
                <li class=" <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> nav-item">
                    <a class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> nav-link"
                        href="/edit"><%= currentUser.Name %> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% if(currentUser.isseller==1){%>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my">My Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sells">Sells</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/previous">Order History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i></a>
                </li>

                <% } %>
                <% } %>


            </ul>
        </div>
    </nav>
    <div class="container">
        <% if(error&&error.length>0){%>
        <div class="alert alert-danger alert-dismissible ">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%=error%>
        </div>
        <%}%>
            <%  if(success&&success.length>0){%>
        <div class="alert alert-success alert-dismissible ">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%=success%>
        </div>
        <%}%>
    </div>
</div>
            