<%- include("../partials/header") %>
<div class="row">

    <div class="col-md-6">
        <div class="card">
            <img src="<%=data.image%>" alt="<%= data.Type%>" class="card-img-top rounded img-responsive"
                style="max-width:300px;max-height: 300px;">
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-header">
            <h2>Name: <%= data.name %></h2>
            <h6>Type: <%= data.Type %></h6>
            <h3> Cost: <%= data.Cost %></h3>
        </div>
        <%if( currentUser&& currentUser.id==data.seller_id){%>
        <div class="row">
            <p class=" col-6 text-left">
                <a class="btn btn-success" href="/product/<%=data.id %>/edit">Edit</a>
            </p>
            <form action="/product/<%=data.id%>?_method=DELETE" class=" col-6 text-right" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button></form>
        </div>

        <%}else{%>
        <%if(data.Quantity>0){%>
        <form action="/<%=data.id%>/addtocart" method="POST" class="form-inline">
            <div class="form-group">
                <label for="Quantity">Quantity:</label>
                <input type="number" class="form-control" name="quantity" id="Quantity" required min=1
                    max=<%= data.Quantity %>>
            </div>
            <div>
                <button type="submit" class=" btn btn-primary text-right">Add to cart</button>
            </div>
        </form>
        <%}else{%>
        <p class="danger">Out of Stock!!</p>
        <%}%> 
          <%}%>

    </div>

    <div class="col-md-3">
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>